{{ define "title" }}
{{ if eq .Data.Singular "tag" }}Tag | {{ .Data.Term }}
{{ else if eq .Data.Singular "category" }}Category | {{ .Data.Term }}
{{ else }}{{ end }}
{{ end }}

{{ define "frontmenu" }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") (index .Site.Params "paginate" | default 116) }}
<nav class="ui top secondary menu">
  <div class="item">
    <i class="inverted big link bullseye icon dream-flip-toggle" title="{{ i18n "flip" }}"></i>
  </div>
  <div class="item">
    <a href="/"><i class="big home icon" title="{{ i18n "home" }}"></i></a>
  </div>
  <div class="item">
    {{ if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL }}">
      <i class="inverted big arrow circle outline left icon" title="{{ i18n "prevPage" }}"></i>
    </a>
    {{ else }}
    <i class="disabled inverted big arrow circle outline left icon" title="{{ i18n "prevPage" }}"></i>
    {{ end }}
  </div>
  <div class="item">
    {{ if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL }}">
      <i class="inverted big arrow circle outline right icon" title="{{ i18n "nextPage" }}"></i>
    </a>
    {{ else }}
    <i class="disabled inverted big arrow circle outline right icon" title="{{ i18n "nextPage" }}"></i>
    {{ end }}
  </div>
</nav>
{{ end }}

{{ define "main"}}
<div class="ui centered grid">
  <div class="{{ .Site.Params.headerGrid }}">

    {{ partial "header.html" (dict "context" . "enablemap" true) }}

  </div>
  <div class="{{ .Site.Params.contentGrid }}">

    <div class="ui two stackable cards">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") (index .Site.Params "paginate" | default 116) }}
      {{ range $paginator.Pages }}

        {{ .Render "summary" }}

      {{ end }}
    </div>

  </div>
</div>
{{ end }}
