<section class="ui top attached center aligned inverted segment">
  <div class="ui small circular image">
    {{ if isset .context.Site.Params "avatar" }}
    <img src="{{ .context.Site.Params.avatar }}">
    {{ else }}
    <img src='{{ "/img/defaultAvatar.jpg" }}'>
    {{ end }}
  </div>
  <h3 class="ui header">
    {{- .context.Site.Title -}}
    <div class="sub header" style="color: white;">{{ .context.Site.Params.motto }}</div>
  </h3>
</section>
