<article class="black card">
    <a class="image" href="{{ .Permalink }}">
	<div class="ui dimmer">
	    <div class="content">
		<div class="center">
		    <h2 class="ui header" style="color: white;">{{ .Title }}</h2>
		    <p style="padding: 5px;">{{ .Params.Summary }}</p>
		    <p>@ {{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}</p>
		    <div class="ui bottom left attached black label">{{ .Date.Format "02/01/2006" }}</div>
		</div>
	    </div>
	</div>
	{{ if isset .Params "cover" }}
	<img src="{{ "/covers" | relURL }}/{{ .Params.cover }}" alt="{{ .Title }}">
	{{ end }}
    </a>
</article>
